# Test configuration for usability testing
# Global Seed
seed_everything: 3407
# Custom
ignore_warnings: false
test_after_fit: true
git_commit_before_fit: false
# Trainer Config
trainer:
  # Train, Validate, Test and Predict
  max_epochs: 5
  min_epochs: null
  max_steps: -1
  min_steps: null
  max_time: null

  num_sanity_val_steps: 2
  check_val_every_n_epoch: 1
  val_check_interval: null
  overfit_batches: 0.0

  limit_train_batches: null
  limit_val_batches: null
  limit_test_batches: null
  limit_predict_batches: null

  # Device
  accelerator: gpu
  devices: 1
  num_nodes: 1

  # Distributed
  strategy: auto
  sync_batchnorm: false
  use_distributed_sampler: true

  # Logger
  logger:
    class_path: WandbLogger
    init_args:
      save_dir: logs
      project: mnist
      name: usability_test
      log_model: false
  log_every_n_steps: 50

  # Callbacks
  callbacks:
    - class_path: ModelCheckpoint
      init_args:
        filename: epoch={epoch:02d}-val_acc={val/acc:.4f}
        monitor: val/acc
        verbose: true
        save_last: true
        save_top_k: 2
        mode: max
        auto_insert_metric_name: false
    - class_path: EarlyStopping
      init_args:
        monitor: val/acc
        min_delta: 0.01
        patience: 5
        verbose: true
        mode: max
        strict: true
    - class_path: LearningRateMonitor
      init_args:
        logging_interval: epoch

  # Gradient Clipping
  gradient_clip_val: null
  gradient_clip_algorithm: null

  # Gradient Accumulation
  accumulate_grad_batches: 1

  # Precision
  precision: 32-true

  # Plugins
  plugins: null

  # Debug
  fast_dev_run: false
  profiler: null
  barebones: false
  detect_anomaly: false
  reload_dataloaders_every_n_epochs: 0

  # Misc
  inference_mode: true
  default_root_dir: null
  benchmark: null
  deterministic: false
  enable_progress_bar: true
  enable_checkpointing: true
  enable_model_summary: true
